<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Company</h1>
    <form method="post" action="{% url 'add_company' %}">
        {% csrf_token %}
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" required>
        <label for="designation">Designation:</label>
        <input type="text" name="designation" required>
        <label for="start">Start:</label>
        <input type="text" name="start" required>
        <label for="end">End:</label>
        <input type="text" name="end" required>
        <label for="description">Description:</label>
        <input type="text" name="description" required>
        <button type="submit">Add Company</button>
    </form>
</body>
</html>