<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Certifications</h1>
    <form method="post" action="{% url 'add_certifications' %}">
        {% csrf_token %}
        <label for="certification">Certifications:</label>
        <input type="text" name="certification" required>
        <button type="submit">Add Certification</button>
    </form>
</body>
</html>