<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Education</h1>
    <form method="post" action="{% url 'add_education' %}">
        {% csrf_token %}
        <label for="institute">Institute:</label>
        <input type="text" name="institute" required>
        <label for="degree">Degree:</label>
        <input type="text" name="degree" required>
        <label for="start">Start:</label>
        <input type="text" name="start" required>
        <label for="end">End:</label>
        <input type="text" name="end" required>
        <button type="submit">Add Education</button>
    </form>
</body>
</html>